* {
    font-family: 'Poppins', sans-serif;
}
.foto-profil {
    width: 150px;;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.li-menu {
    padding-right: 20px;
    font-size: 24px;
}
.text-pp {
    font-size: 24px;
    font-weight: 500;
}
